.logika {
    font-size: 30px;
    background-color: aqua;
    color: rgb(50, 100, 200);
    border: 3px solid green;
    text-align: centr;
}

.link {
    font-size: 40px;
    color: blueviolet;
    border: 4px dotted blue;
    display: block;
    padding: 0  auto;
}

p {
    color: blue;
    font-size: 30px;
    padding: 0  auto;
}

li {
    color:  red;
    font-size: 30px;
    padding: 0 auto;
}

h1 {
    display: inline;
    color: yellow;
    font-size: 30px;
    padding: 10 auto;
}

h2  {
    color:  blueviolet;
    font-size: 20px;
    padding: 0  cap;
}

p, h1 {
       border: 3px solid rgb(100, 200, 50);
       font-size: 30px;
       font-weight: 500;
}

.like {
    display: flex;
}

body {
    text-align: center;
    background-color: wheat;
}

nav {
    text-align: center;
    width: 700px;
    font-size: 40px;
    background-color: rgb(100, 200, 50);
    border-radius: 40px;
    margin: 20px auto;
    padding: 20px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th, td{
    border: 3px  solid rgb(27, 1, 72);
    padding: 10px;
    text-align: 10px;
    text-align: center;
    font-weight: 200;
}

thead {
    background-color: antiquewhite;
}

.profile-img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    display: block;
    margin: auto;
}